CompileFlags:
  Add: [-Wall, -Wextra]
---
# This section fixes the "Objective-C++" misidentification
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-x, c]
---
If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  # Use c23 if on Clang 18+, otherwise c2x
  Add: [-std=c23] 
---
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    # In .clangd files, use 'Add' and 'Remove' lists
    Remove: [
        "modernize-use-trailing-return-type",
        "readability-magic-numbers",
        "cppcoreguidelines-*",
        "llvmlibc-*",
        "hicpp-uppercase-literal-suffix",
        "readability-identifier-length",
        "altera-*",
        "google-*",
        "boost-*",
        "fuchsia-*",
        "zircon-*",
        "openmp-*"
    ]