CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic]
---
# Treat headers as C files, not C++ or Objective-C
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-x, c]
---
If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  # C23 support
  Add: [-std=c23] 
---
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    # We only remove things that are strictly C++ specific or non-functional
    Remove: [
        "modernize-use-trailing-return-type",
        "cppcoreguidelines-*",
        "llvmlibc-*",
        "google-*",
        "fuchsia-*",
        "zircon-*"
    ]